/* body styling */
body {
    background-color: #6C3494; /* Sets the background color of the body */
    color: white; /* Sets the text color to white */
    margin: 0; /* Removes the default margin */
    padding: 0; /* Removes the default padding */
    font-family: Arial, sans-serif; /* Sets the font family to Arial or sans-serif */
    width: 100%; /* Sets the width of the body to 100% */
  }
  
  /* paragraph styling */
  P {
    line-height: 25px; /* Sets the line height of paragraphs */
    align-items: center; /* Aligns items vertically */
    padding: 10px;
    font-size: 15px;
  }
  
  /* top logo */
  .logo {
    background-size: cover; /* Adjusts the background image size to cover the element */
    background-position: center; /* Centers the background image */
    max-height: 100%; /* Sets the maximum height of the element to 100% */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically */
    width: 100%; /* Sets the maximum width of the element to 100% */
  }
  
  /* top heading */
  h1 {
    text-align: center; /* Centers the text horizontally */
    font-size: 40px; /* Sets the font size to 40 pixels */
    padding: 20px; /* Adds padding around the heading */
  }
  
  /* navigation style */
  nav {
    background-color: #CDDC29; /* Sets the background color of the navigation */
    border: 1px solid #CDDC29; /* Sets a border around the navigation */
    text-decoration: none; /* Removes text decoration */
  }
  
  .menu-2 a:hover,
  .menu-2 a:focus {
    background-color: #6C3494; /* Sets the background color when hovering/focusing on menu items */
    color: #CDDC29; /* Sets the text color when hovering/focusing on menu items */
    text-decoration: none; /* Removes text decoration */
  }
  
  .menu-head {
    font-weight: bold; /* Sets the font weight to bold for the menu heading */
  }
  
  .menu ul {
    list-style-type: none; /* Removes the default bullet points from the list */
    display: block; /* Displays the list items as blocks */
  }
  
  .menu a {
    display: flex; /* Enables flexbox layout */
    padding: 1em 0; /* Adds padding around the menu items */
    text-decoration: none; /* Removes text decoration */
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Centers the content horizontally */
    font-size: large; /* Sets the font size to large */
    color: #6C3494; /* Sets the text color to #6C3494 */
    text-decoration: none; /* Removes text decoration */
    list-style: none; /* Removes list style */
  }
  
  .menu a .menu a:link,
  .menu a:visited {
    display: flex; /* Enables flexbox layout */
    padding: 1em 0; /* Adds padding around the menu items */
    text-decoration: none; /* Removes text decoration */
  }
  
  .menu li:nth-child(1) {
    background-color: #CDDC29; /* Sets the background color of the first menu item */
  }
  
  #navbar ul li {
    list-style-type: none; /* Removes list style */
  }
  
  .menu {
    padding-left: 0; /* Removes left padding from the menu */
  }
  
  /* nav list animation */
  .menu li a {
    padding: 10px 20px; /* Adds padding around the menu items */
    text-decoration: none; /* Removes text decoration */
    padding-left: 0; /* Removes left padding from the menu items */
  }
  
  .menu ul {
    height: 0; /* Sets the initial height of the menu to 0 */
    left: 0; /* Aligns the menu to the left */
    opacity: 0; /* Sets the initial opacity of the menu to 0 */
    transition: all .4s ease; /* Adds a transition effect to the menu */
    padding-left: 0; /* Removes left padding from the menu */
  }
  
  .menu li:hover ul {
    height: 245px; /* Sets the height of the menu when hovering over the menu item */
    opacity: 1; /* Sets the opacity of the menu to 1 when hovering over the menu item */
    transform: translateY(0); /* Moves the menu vertically */
  }
  
  /* matcha heading */
  .banner-header {
    background-image: url(../images/Image_1.png); /* Sets the background image of the banner */
    background-size: cover; /* Adjusts the background image size to cover the element */
    background-position: center; /* Centers the background image */
    height: 400px; /* Sets the height of the banner */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically */
  }
  
  /* styling banner box */
  .banner-box {
    width: 100%; /* Sets the width of the banner box to 100% */
    height: 100%; /* Sets the height of the banner box to 100% */
    margin: 0 auto; /* Centers the banner box horizontally */
    background-color: rgba(2, 2, 2, 0.5); /* Sets the background color of the banner box */
    padding: 2em; /* Adds padding around the banner box */
    padding-left: 15px; /* Adds left padding to the banner box */
    box-sizing: border-box; /* Includes padding and border in the total width and height of the element */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Sets the flex direction to column */
    justify-content: center; /* Centers the content vertically */
  }
  
  /* h3 styling */
  h3 {
    text-align: center; /* Centers the text horizontally */
    margin: 5px; /* Adds margin around the heading */
    padding-top: 50px; /* Adds top padding to the heading */
    font-size: 40px; /* Sets the font size to 40 pixels */
  }
  
  /* styling banner button */
  .btn {
    background-color: #6C3494; /* Sets the background color of the button */
    padding: 20px; /* Adds padding around the button */
    padding-top: 8px; /* Adds top padding to the button */
    padding-bottom: 8px; /* Adds bottom padding to the button */
    font-size: 15px; /* Sets the font size to 15 pixels */
    text-decoration: none; /* Removes text decoration */
    color: white; /* Sets the text color to white */
    align-self: center; /* Aligns the button horizontally */
    margin-top: 20px; /* Adds top margin to the button */
  }
  
  /* button animation */
  .btn:active {
    background-color: #CDDC29; /* Sets the background color of the button when active */
    color: black; /* Sets the text color to black when active */
    transition: .5s ease; /* Adds a transition effect to the button */
  }
  
  .sec-three {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Sets the flex direction to column */
    align-items: flex-start; /* Aligns items to the start of the containerhorizontally */
  }
  
  /* Optional: Adjust spacing and alignment of elements */
  .sec-three > * {
    margin-bottom: 10px; /* Adds bottom margin to the child elements */
  }
  
  /* Style the button */
  #buttons {
    background-color: white; /* Sets the background color of the button */
    color: black; /* Sets the text color to black */
    padding: 10px 20px; /* Adds padding around the button */
    border: none; /* Removes the border */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
  }
  
  .cont-head {
    margin-bottom: 40px; /* Adds bottom margin to the contact section heading */
    margin-top: 40px; /* Adds top margin to the contact section heading */
    padding-top: 0; /* Removes top padding from the contact section heading */
  }
  
  /* About us section */
  .about-us {
    text-align: center; /* Centers the text horizontally */
    background-color: #CDDC29; /* Sets the background color of the about section */
    color: black; /* Sets the text color to black */
    padding: 15px; /* Adds padding around the about section */
  }
  
  /* h2 styling */
  h2 {
    font-size: 40px; /* Sets the font size to 40 pixels */
    text-align: center; /* Centers the text horizontally */
  }
  
  .about-text {
    font-size: 15px; /* Sets the font size to 15 pixels */
    text-align: center; /* Centers the text horizontally */
  }
  
  .sec-two {
    margin-top: 20px; /* Adds top margin to the section */
    padding: 15px; /* Adds padding around the section */
  }
  
  .cake {
    border: 1px solid #CDDC29; /* Sets a border around the cake image */
    margin: 0 auto; /* Centers the cake image horizontally */
    width: 100%; /* Sets the width of the cake image to 100% */
  }
  
  .flavour-heading {
    text-align: center; /* Centers the text horizontally */
  }
  
  .flavourtown {
    font-size: 15px; /* Sets the font size to 15 pixels */
    text-align: center; /* Centers the text horizontally */
  }
  
  .menu-btn {
    background-color: #CDDC29; /* Sets the background color of the button */
    font-size: 15px; /* Sets the font size to 15 pixels */
    text-decoration: none; /* Removes text decoration */
    color: black; /* Sets the text color to black */
    margin-top: 20px; /* Adds top margin to the button */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    text-align: center; /* Centers the text within the button */
    width: 20%; /* Sets the width of the button */
    height: 30px; /* Sets the height of the button */
    margin: 0 auto; /* Centers the button horizontally */
  }
  
  .menu-btn:active {
    background-color: #6C3494; /* Sets the background color of the button when active */
    color: white; /* Sets the text color to white when active */
    transition: .5s ease; /* Adds a transition effect to the button */
  }
  
  /* section 3 */
  .sec-three {
    background-color: #CDDC29; /* Sets the background color of the section */
    color: black; /* Sets the text color to black */
    align-items: center; /* Aligns items vertically */
  }
  
  /* table style */
  table {
    border-collapse: collapse; /* Collapses the table borders */
    width: 90%; /* Sets the width of the table */
    margin: 0 auto; /* Centers the table horizontally */
    color: black; /* Sets the text color to black */
    background-color: white; /* Sets the background color of the table */
    margin-top: 20px; /* Adds top margin to the table */
    margin-bottom: 20px; /* Adds bottom margin to the table */
  }
  
  th,
  td {
    border: 1px solid black; /* Sets a border around the table cells */
    padding: 15px; /* Adds padding around the table cells */
  }
  
  th {
    background-color: #CDDC29; /* Sets the background color of the table header cells */
    text-align: center; /* Centers the text horizontally */
  }
  
  /* contact us send button, adding margin */
  .send {
    margin-bottom: 30px; /* Adds bottom margin to the send button */
    margin-top: 10px; /* Adds top margin to the send button */
  }
  
  /* footer */
  footer {
    padding: 20px; /* Adds padding around the footer */
    background-color: #CDDC29; /* Sets the background color of the footer */
    color: #6C3494; /* Sets the text color to #6C3494 */
  }
  
  .sec-three {
    width: 100%; /* Sets the width of the section to 100% */
    margin: 0 auto; /* Centers the section horizontally */
  }
  
  .sec-three input[type="text"],
  .sec-three input[type="email"],
  .sec-three textarea {
    width: 90%; /* Sets the width of the input fields and textarea to 90% */
    box-sizing: border-box; /* Includes padding and border in the total width and height of the elements */
  }
  
  .sec-three .send {
    background-color: #6C3494; /* Sets the background color of the send button */
    color: white; /* Sets the text color to white */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
  }
  
/* -------------------------------
----------Contact section---------
------------------------------- */

  /* map container */
  #map-container {
    width: 100%; /* Sets the width of the map container to 100% */
    height: auto; /* Sets the height of the map container to auto */
  }
  
  /* adjusting map size */
  #map {
    top: 0; /* Aligns the map to the top */
    left: 0; /* Aligns the map to the left */
    width: 100%; /* Sets the width of the map to 100% */
  }
  
  /* changin line hight and gettin rid of list style for contact info */
  .contact-type li{
    line-height: 25px;
    list-style: none;
  }

  .contact-type{
    padding: 20px;
  }

  /* adding padding to bottom of address */
  .address{
    margin: 0;
    padding-top: 0%;
    padding-bottom: 20px ;
  }

  /* changin line hight and gettin rid of list style for loaction details */
  .locate-details{
    line-height: 25px;
    list-style: none;
    padding-left: 20px;
  }

 /* -------------------------------
----------About Us section---------
------------------------------- */ 

.testimonial-2{
    padding-top: 10PX;
}

h5{
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
   
}

.spec{
    margin: 0;
    padding: 2rem;
    padding-top: 10px;
    padding-bottom: 2rem;
    text-align: center;
}

.about-page.cont{
    align-items: center;
}

.cakes{
    width: 95%;
    display: flex;
    margin: 0 auto;
    border: 2px solid #6C3494;
    margin-top: 20px;
}
  
/* --------------------------------
    skip link style
-----------------------------------*/
/* adding top of page skip link for main content */
.skip-link {
    position: absolute;
    top: 14.8em;
    left: .5px;
    background-color: #CDDC29;
    color: #6C3494;
    padding: 10px;
    z-index: 9999;
  }
/* adding bottom page skip link that bring you back to top of */
.skip-link2{
        position: absolute;
        right: 1px;
        background-color: #6C3494;
        color: #CDDC29;
        padding: 10px;
        z-index: 9999;
}

/* ---------------------
--------animation-------
--------------------- */
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6C3494;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: shake 1s infinite;
  }